
/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: purple;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
  margin: 0 auto;
  padding: 5px;
}

/* Table styles */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #FF69B4;
  padding: 1px;
  
  
  white-space: nowrap;
  text-align: center;
  
}
/**td {
  padding: 8px;
  
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
}*/

th {
  background-color: #FFC0CB;
  color: #fff;
  padding: 8px;
}

/* Link styles */
.addLink {
  
  padding: 10px 20px;
  text-decoration: none;
  background-color: #FF69B4;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.editLink {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #FF69B4;
  border: 1px solid #FF69B4;
  border-radius: 5px;
  margin-left: 10px;
}

/* Form styles */
.form-control {
  width: 60%;
  
  border: 1px solid #FF69B4;
  border-radius: 5px;
}


  
  tr:nth-child(even) {
    background-color: #fce4ec;
  }
  
  /* Delete button style */
  input[id="deleteBtn"] {
    background-color: #ff7675;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[id="deleteBtn"]:hover {
    background-color: #d63031;
  }

  a.editLink{
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a.editLink:hover {
    background-color: #ff9800;
  }

  a.addLink{
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align:justify;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a.addLink:hover {
    background-color: #009900;
  }
 